<div class="cart-info">
  <div class="row gy-3">
    <!-- Order info -->
    <div class="col-12">
      <h2 class="cart-info__heading">Đơn hàng của tôi</h2>
      <p class="cart-info__desc profile__desc">
        Địa chỉ, thông tin liên hệ và tổng tiền
      </p>

      <div class="row gy-md-1 row-cols-1 row-cols-lg-1">
        <app-order-info
          *ngFor="let ord of orders"
          [phone]="ord.phoneNumber"
          [name]="ord.fullName"
          [prdId]="ord._id"
          [products]="ord.products"
          [adr]="ord.address"
          [createdAt]="ord.createdAt"
          [qty]="ord.totalQty"
          [total]="ord.totalAmount"
        ></app-order-info>
      </div>
    </div>
  </div>
</div>
