<div class="act-dropdown__inner">
  <img
    src="../../../assets/images/icon/arrow-up.png"
    alt=""
    class="act-dropdown__arrow"
  />
  <div class="act-dropdown__top">
    <h2 class="act-dropdown__title">You have 3 item(s)</h2>
    <a class="act-dropdown__view-all" [routerLink]="['checkout']">See All</a>
  </div>
  <div class="row row-cols-3 gx-2 act-dropdown__list">
    <app-cart-item></app-cart-item>
    <app-cart-item></app-cart-item>
    <app-cart-item></app-cart-item>
  </div>
  <div class="act-dropdown__bottom">
    <div class="act-dropdown__row">
      <span class="act-dropdown__label">Subtotal</span>
      <span class="act-dropdown__value">$415.99</span>
    </div>
    <div class="act-dropdown__row">
      <span class="act-dropdown__label">Texes</span>
      <span class="act-dropdown__value">Free</span>
    </div>
    <div class="act-dropdown__row">
      <span class="act-dropdown__label">Shipping</span>
      <span class="act-dropdown__value">$10.00</span>
    </div>
    <div class="act-dropdown__row act-dropdown__row--bold">
      <span class="act-dropdown__label">Total Price</span>
      <span class="act-dropdown__value">$425.99</span>
    </div>
  </div>
  <div class="act-dropdown__checkout">
    <a
      href="./checkout.html"
      class="btn btn--primary btn--rounded act-dropdown__checkout-btn"
      [routerLink]="['checkout']"
    >
      Check Out All
    </a>
  </div>
</div>
