<article class="address-card">
  <div class="address-card__left">
    <div class="address-card__choose">
      <label class="cart-info__checkbox">
        <input
          type="radio"
          name="shipping-adress"
          checked
          class="cart-info__checkbox-input"
        />
      </label>
    </div>
    <div class="address-card__info">
      <h3 class="address-card__title">{{ address.name }}</h3>
      <p class="address-card__desc">
        {{ address.address_details }}
      </p>
      <ul class="address-card__list">
        <li class="address-card__list-item">Vận chuyển</li>
        <li class="address-card__list-item">Giao hàng từ của hàng</li>
      </ul>
    </div>
  </div>
  <div class="address-card__right">
    <div class="address-card__ctrl">
      <button
        class="cart-info__edit-btn js-toggle"
        toggle-target="#add-new-address"
        (click)="openEdit(address._id)"
      >
        <img class="icon" src="../../../assets/images/icon/edit.svg" alt="" />
        Chỉnh sửa
      </button>
    </div>
  </div>
</article>

<!-- Modal: address new shipping address -->
<div
  id="add-new-address"
  [class]="openModalEdit ? 'modal show' : 'modal hide'"
  style="--content-width: 650px"
>
  <div class="modal__content">
    <form [formGroup]="addressForm" class="form">
      <h2 class="modal__heading">Thêm mới địa chỉ giao hàng</h2>
      <div class="modal__body">
        <div class="form__row">
          <div class="form__group">
            <label for="name" class="form__label form__label--small"
              >Tên
            </label>
            <div class="form__text-input form__text-input--small">
              <input
                type="text"
                name="name"
                id="name"
                formControlName="name"
                placeholder="Tên"
                class="form__input"
                required
                minlength="2"
              />
              <img
                src="../../../assets/images/icon/form_error.svg"
                alt=""
                class="form__input-icon-error"
              />
            </div>
            <p class="form__error">Tên phải có ít nhất 2 kí tự</p>
          </div>
          <div class="form__group">
            <label for="phone" class="form__label form__label--small"
              >Số điện thoại</label
            >
            <div class="form__text-input form__text-input--small">
              <input
                type="tel"
                name="phone"
                id="phone"
                placeholder="Số điện thoại"
                formControlName="phoneNumber"
                class="form__input"
                required
                minlength="10"
              />
              <img
                src="../../../assets/images/icon/form_error.svg"
                alt=""
                class="form__input-icon-error"
              />
            </div>
            <p class="form__error">Số điện thoại phải có ít nhất 10 kí tự</p>
          </div>
        </div>
        <div class="form__group">
          <label for="address" class="form__label form__label--small"
            >Địa chỉ</label
          >
          <div class="form__text-area">
            <textarea
              name="address"
              id="address"
              formControlName="address_details"
              placeholder="Địa chỉ cụ thể"
              class="form__text-area-input"
              required
            ></textarea>
            <img
              src="../../../assets/images/icon/form_error.svg"
              alt=""
              class="form__input-icon-error"
            />
          </div>
          <p class="form__error">Địa chỉ không được để trống</p>
        </div>
      </div>
      <div class="modal__bottom">
        <button
          class="btn btn--small btn--text modal__btn js-toggle"
          toggle-target="#add-new-address"
          (click)="openModalEdit = !openModalEdit"
        >
          Hủy
        </button>
        <button
          class="btn btn--small btn--primary modal__btn btn--no-margin js-toggle"
          toggle-target="#add-new-address"
          (click)="submitFormAddress(address._id)"
          type="submit"
        >
          Cập nhật
        </button>
      </div>
    </form>
  </div>
  <div class="modal__overlay"></div>
</div>
