<div class="cart-info">
  <div class="row gy-3">
    <div class="col-12">
      <h2 class="cart-info__heading">
        <a [routerLink]="['/personal-info']">
          <img
            src="../../../../assets/images/icon/arrow-left.svg"
            alt=""
            class="icon cart-info__back-arrow"
          />
        </a>
        Thêm thẻ tín dụng hoặc thẻ ghi nợ
      </h2>

      <form class="form form-card" [formGroup]="addNewCardForm">
        <!-- Form row 1 -->
        <div class="form__row">
          <div class="form__group">
            <label for="first-name" class="form__label form-card__label">
              Tên
            </label>
            <div class="form__text-input">
              <input
                type="text"
                name=""
                id="first-name"
                placeholder="Tên"
                formControlName="firstName"
                class="form__input"
                required
                autofocus
              />
              <img
                src="../../../../assets/images/icon/form_error.svg"
                alt=""
                class="form__input-icon-error"
              />
            </div>
            <p class="form__error">Hãy điền tên của bạn</p>
          </div>
          <div class="form__group">
            <label for="last-name" class="form__label form-card__label">
              Họ
            </label>
            <div class="form__text-input">
              <input
                type="text"
                name=""
                id="last-name"
                placeholder="Họ"
                formControlName="lastName"
                class="form__input"
                required
              />
              <img
                src="../../../../assets/images/icon/form_error.svg"
                alt=""
                class="form__input-icon-error"
              />
            </div>
            <p class="form__error">Hãy nhập họ của bạn</p>
          </div>
        </div>

        <!-- Form row 2 -->
        <div class="form__row">
          <div class="form__group">
            <label for="card-number" class="form__label form-card__label">
              Số thẻ
            </label>
            <div class="form__text-input">
              <input
                type="text"
                name=""
                id="card-number"
                placeholder="Số thẻ"
                formControlName="cardNumber"
                class="form__input"
                required
              />
              <img
                src="../../../../assets/images/icon/form_error.svg"
                alt=""
                class="form__input-icon-error"
              />
            </div>
            <p class="form__error">Hãy điền số thẻ hợp lệ</p>
          </div>
          <div class="form__group">
            <label for="expiration-date" class="form__label form-card__label">
              Ngày hết hạn
            </label>
            <div class="form__text-input">
              <input
                type="text"
                name=""
                id="expiration-date"
                placeholder="Ngày hết hạn"
                formControlName="expiryDate"
                class="form__input"
                required
              />
              <img
                src="../../../../assets/images/icon/form_error.svg"
                alt=""
                class="form__input-icon-error"
              />
            </div>
            <p class="form__error">Hãy điền ngày hết hạn hợp lệ</p>
          </div>
        </div>

        <!-- Form row 3 -->
        <div class="form__row">
          <div class="form__group">
            <label for="card-cvv" class="form__label form-card__label">
              CVV
            </label>
            <div class="form__text-input">
              <input
                type="text"
                name=""
                id="card-cvv"
                placeholder="123"
                class="form__input"
                formControlName="cvv"
                required
              />
              <img
                src="../../../../assets/images/icon/form_error.svg"
                alt=""
                class="form__input-icon-error"
              />
            </div>
            <p class="form__error">Hãy nhập số CVV hợp lệ</p>
          </div>
          <div class="form__group">
            <label for="phone-number" class="form__label form-card__label">
              Số điện thoại
            </label>
            <div class="form__text-input">
              <input
                type="text"
                name=""
                id="phone-number"
                placeholder="Số điện thoại"
                formControlName="phoneNumber"
                class="form__input"
                required
              />
              <img
                src="../../../../assets/images/icon/form_error.svg"
                alt=""
                class="form__input-icon-error"
              />
            </div>
            <p class="form__error">Hãy nhập số điện thoại hợp lệ</p>
          </div>
        </div>

        <div class="form__group">
          <label for="set-default-card" class="form__label form-card__label">
            Tùy chọn thẻ
          </label>
          <label class="form__checkbox">
            <input
              type="checkbox"
              name=""
              id="set-default-card"
              checked
              class="form__checkbox-input d-none"
            />
            <span class="form__checkbox-label">Đặt làm thẻ mặc định</span>
          </label>
        </div>

        <div class="form-card__bottom">
          <a class="btn btn--text" [routerLink]="['/personal-info']">Hủy</a>
          <button
            [disabled]="addNewCardForm.invalid"
            class="btn btn--primary btn--rounded"
            (click)="addNewCard()"
          >
            Lưu thẻ
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
