<main class="auth">
  <!-- Auth intro -->
  <div class="auth__intro d-md-none">
    <img
      src="../../../assets/images/auth/forgot-password.png"
      alt=""
      class="auth__intro-img"
    />
  </div>

  <!-- Auth content -->
  <div class="auth__content">
    <div class="auth__content-inner">
      <a href="./" class="logo">
        <img
          src="../../../assets/images/logo/logo.png"
          alt="grocerycoffee"
          class="logo__img"
        />
        <h2 class="logo__title">grocerycoffee</h2>
      </a>
      <h1 class="auth__heading">Lấy lại mật khẩu</h1>
      <p class="auth__desc">Nhập email của bạn để đặt lại mật khẩu.</p>
      <div
        [style]="isShow && isSuccess ? 'display: block' : 'display: none'"
        class="auth__message message message--success"
      >
        Xác minh thành công. Hãy đặt lại mật khẩu.
      </div>
      <div
        [style]="isShow && isError ? 'display: block' : 'display: none'"
        class="auth__message message message--error"
      >
        Xác minh thất bại. Vui lòng thử lại!
      </div>
      <form class="form auth__form auth__form-forgot" [formGroup]="resetForm">
        <div class="form__group">
          <div class="form__text-input">
            <input
              type="email"
              name=""
              id=""
              placeholder="Email"
              formControlName="username"
              class="form__input"
              autofocus
              required
            />
            <img
              src="../../../assets/images/icon/message.svg"
              alt=""
              class="form__input-icon"
            />
            <img
              src="../../../assets/images/icon/form_error.svg"
              alt=""
              class="form__input-icon-error"
            />
          </div>
          <p class="form__error">Email không hợp lệ</p>
        </div>
        <div class="form__group auth__btn-group">
          <button
            (click)="submitForm()"
            class="btn btn--primary auth__btn form__submit-btn"
          >
            Đặt lại mật khẩu
          </button>
        </div>
      </form>

      <p class="auth__text">
        <a [routerLink]="['/sign-in']" class="auth__link auth__text-link"
          >Trở về Đăng nhập</a
        >
      </p>
    </div>
  </div>
</main>
