<main class="auth">
  <!-- Auth intro -->
  <div class="auth__intro d-md-none">
    <img
      src="../../../assets/images/auth/forgot-password.png"
      alt=""
      class="auth__intro-img"
    />
  </div>

  <!-- Auth content -->
  <div class="auth__content">
    <div class="auth__content-inner">
      <a href="./" class="logo">
        <img
          src="../../../assets/images/logo/logo.png"
          alt="grocerymart"
          class="logo__img"
        />
        <h2 class="logo__title">grocerymart</h2>
      </a>
      <h1 class="auth__heading">Reset your password</h1>
      <p class="auth__desc">
        Enter your email and we'll send you a link to reset your password.
      </p>
      <!-- <div class="auth__message message message--success">We have e-mailed your password reset link!</div> -->
      <form class="form auth__form auth__form-forgot">
        <div class="form__group">
          <div class="form__text-input">
            <input
              type="email"
              name=""
              id=""
              placeholder="Email"
              class="form__input"
              autofocus
              required
            />
            <img
              src="../../../assets/images/icon/message.svg"
              alt=""
              class="form__input-icon"
            />
            <img
              src="../../../assets/images/icon/form_error.svg"
              alt=""
              class="form__input-icon-error"
            />
          </div>
          <p class="form__error">Email is not in correct format</p>
        </div>
        <div class="form__group auth__btn-group">
          <button class="btn btn--primary auth__btn form__submit-btn">
            Reset password
          </button>
        </div>
      </form>

      <p class="auth__text">
        <a [routerLink]="['/sign-in']" class="auth__link auth__text-link"
          >Back to Sign In</a
        >
      </p>
    </div>
  </div>
</main>
