<article class="cart-item">
  <a [routerLink]="['/product', prod?._id]">
    <img [src]="prod.avatarUrl" alt="" class="cart-item__thumb" />
  </a>
  <div class="cart-item__content">
    <div class="cart-item__content-left">
      <h3 class="cart-item__title">
        <a [routerLink]="['/product', prod?._id]">
          {{ prod?.name }}
        </a>
      </h3>
      <p class="cart-item__price-wrap">
        {{ prod?.price | currency : " " : "symbol" : "1.0-0" }}đ |
        <span class="cart-item__status">Còn hàng</span>
      </p>
      <div class="cart-item__ctrl cart-item__ctrl--md-block">
        <div class="cart-item__input">
          {{ prod?.categoryName }}
          <!-- <img
              class="icon"
              src="./assets/icons/arrow-down-2.svg"
              alt=""
            /> -->
        </div>
        <div class="cart-item__input">
          <button
            class="cart-item__input-btn"
            (click)="minusQuantity(prod?._id)"
          >
            <img
              class="icon"
              src="../../../assets/images/other/minus.png"
              alt=""
            />
          </button>
          <span>{{ prod?.quantity }}</span>
          <button class="cart-item__input-btn" (click)="addQuantity(prod?._id)">
            <img
              class="icon"
              src="../../../assets/images/other/plus.png"
              alt=""
            />
          </button>
        </div>
      </div>
    </div>
    <div class="cart-item__content-right">
      <p class="cart-item__total-price">
        {{ prod?.totalAmount | currency : " " : "symbol" : "1.0-0" }}đ
      </p>
      <div class="cart-item__ctrl">
        <button class="cart-item__ctrl-btn">
          <img src="../../../assets/images/icon/heart-2.svg" alt="" />
          Yêu thích
        </button>
        <button
          class="cart-item__ctrl-btn js-toggle"
          toggle-target="#delete-confirm"
          (click)="openModal = !openModal"
        >
          <img src="../../../assets/images/icon/trash.svg" alt="" />
          Xóa
        </button>
      </div>
    </div>
  </div>
</article>

<!-- Modal: confirm remove shopping cart item -->
<div
  id="delete-confirm"
  [class]="openModal ? 'modal modal--small show' : 'modal modal--small hide'"
>
  <div class="modal__content">
    <p class="modal__text">Bạn có muốn xóa mặt hàng này khỏi giỏ hàng không?</p>
    <div class="modal__bottom">
      <button
        class="btn btn--small btn--outline modal__btn js-toggle"
        toggle-target="#delete-confirm"
        (click)="openModal = !openModal"
      >
        Hủy
      </button>
      <button
        class="btn btn--small btn--danger btn--primary modal__btn btn--no-margin js-toggle"
        toggle-target="#delete-confirm"
        (click)="deleteCart(prod?._id)"
      >
        Xóa
      </button>
    </div>
  </div>
  <div class="modal__overlay js-toggle" toggle-target="#delete-confirm"></div>
</div>
