<!-- MAIN -->
<main class="checkout-page">
  <div class="container">
    <!-- Search bar -->
    <div class="checkout-container">
      <div class="search-bar d-none d-md-flex">
        <input
          type="text"
          name=""
          id=""
          placeholder="Search for item"
          class="search-bar__input"
        />
        <button class="search-bar__submit">
          <img
            src="../../../assets/images/other/Search.png"
            alt=""
            class="search-bar__icon icon"
          />
        </button>
      </div>
    </div>

    <!-- Breadcrumbs -->
    <div class="checkout-container">
      <ul class="breadcrumbs checkout-page__breadcrumbs">
        <li>
          <a [routerLink]="['/homepage']" class="breadcrumbs__link">
            Trang chủ
            <img src="../../../assets/images/icon/arrow-right.svg" alt="" />
          </a>
        </li>
        <li>
          <a [routerLink]="['/checkout']" class="breadcrumbs__link">
            Giỏ hàng
            <img src="../../../assets/images/icon/arrow-right.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="#!" class="breadcrumbs__link breadcrumbs__link--current"
            >Đặt hàng</a
          >
        </li>
      </ul>
    </div>

    <!-- Checkout content -->
    <div class="checkout-container">
      <div class="row gy-xl-3">
        <div class="col-8 col-xl-12">
          <div class="cart-info">
            <h1 class="cart-info__heading">
              1. Vận chuyển, thời gian từ 2 - 4 ngày sau khi đặt hàng
            </h1>
            <div class="cart-info__separate"></div>

            <!-- Checkout address -->
            <div class="user-address">
              <div class="user-address__top">
                <div>
                  <h2 class="user-address__title">Địa chỉ giao hàng</h2>
                  <p class="user-address__desc">
                    Chúng tôi nên giao đơn hàng của bạn ở đâu?
                  </p>
                </div>
                <button
                  class="user-address__btn btn btn--primary btn--rounded btn--small js-toggle"
                  toggle-target="#add-new-address"
                  (click)="openModalCreate = !openModalCreate"
                  [disabled]="hasAddress"
                >
                  <img src="../../../assets/images/other/plus.png" alt="" />
                  Thêm địa chỉ mới
                </button>
              </div>
              <div class="user-address__list">
                <!-- Empty message -->
                <ng-container *ngIf="!hasAddress; else hasAddressTpl">
                  <p class="user-address__message">
                    Chưa có địa chỉ.
                    <a
                      class="user-address__link js-toggle"
                      (click)="openModalCreate = !openModalCreate"
                      toggle-target="#add-new-address"
                      >Thêm địa chỉ mới</a
                    >
                  </p>
                </ng-container>

                <ng-template #hasAddressTpl>
                  <app-address [address]="address"></app-address>
                </ng-template>
              </div>
            </div>
          </div>

          <!-- Method -->
          <app-shipping-method></app-shipping-method>

          <div class="cart-info__separate"></div>

          <div class="cart-info__bottom d-md-none">
            <div class="row">
              <div class="col-8 col-xxl-7">
                <div class="cart-info__continue">
                  <a href="./" class="cart-info__continue-link">
                    <img
                      class="cart-info__continue-icon icon"
                      src="../../../assets/images/icon/arrow-down.svg"
                      alt=""
                    />
                    Tiếp tục mua sắm
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 col-xl-12">
          <div class="d-flex flex-direction-column gap-20">
            <app-checkout-block
              [subTotalItems]="subTotalItems"
              [price]="subTotal"
            >
            </app-checkout-block>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Modal: address new shipping address -->
<div
  id="add-new-address"
  [class]="openModalCreate ? 'modal show' : 'modal hide'"
  style="--content-width: 650px"
>
  <div class="modal__content">
    <form [formGroup]="addressForm" class="form">
      <h2 class="modal__heading">Thêm địa chỉ giao hàng</h2>
      <div class="modal__body">
        <div class="form__row">
          <div class="form__group">
            <label for="name" class="form__label form__label--small">Tên</label>
            <div class="form__text-input form__text-input--small">
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Tên"
                formControlName="name"
                class="form__input"
                required
                minlength="2"
              />
              <img
                src="../../../assets/images/icon/form_error.svg"
                alt=""
                class="form__input-icon-error"
              />
            </div>
            <p class="form__error">Tên phải có ít nhất 2 kí tự</p>
          </div>
          <div class="form__group">
            <label for="phone" class="form__label form__label--small"
              >Số điện thoại</label
            >
            <div class="form__text-input form__text-input--small">
              <input
                type="tel"
                name="phone"
                id="phone"
                placeholder="Số điện thoại"
                formControlName="phoneNumber"
                class="form__input"
                required
                minlength="10"
              />
              <img
                src="../../../assets/images/icon/form_error.svg"
                alt=""
                class="form__input-icon-error"
              />
            </div>
            <p class="form__error">Số điện thoại phải có ít nhất 10 kí tự</p>
          </div>
        </div>
        <div class="form__group">
          <label for="address" class="form__label form__label--small"
            >Địa chỉ</label
          >
          <div class="form__text-area">
            <textarea
              name="address"
              id="address"
              placeholder="Địa chỉ cụ thể"
              formControlName="address_details"
              class="form__text-area-input"
              required
            ></textarea>
            <img
              src="../../../assets/images/icon/form_error.svg"
              alt=""
              class="form__input-icon-error"
            />
          </div>
          <p class="form__error">Địa chỉ không được để trống</p>
        </div>
      </div>
      <div class="modal__bottom">
        <button
          class="btn btn--small btn--text modal__btn js-toggle"
          toggle-target="#add-new-address"
          (click)="openModalCreate = !openModalCreate"
        >
          Hủy
        </button>
        <button
          class="btn btn--small btn--primary modal__btn btn--no-margin js-toggle"
          toggle-target="#add-new-address"
          (click)="submitFormAddress()"
          [disabled]="addressForm.invalid"
        >
          Thêm
        </button>
      </div>
    </form>
  </div>
  <div class="modal__overlay"></div>
</div>
