<div class="top-bar-block">
  <div class="top-bar d-flex justify-content-between align-items-center">
    <a href="/homepage" class="top-bar-logo d-flex align-items-center gap-14">
      <img
        src="../../../assets/images/logo/logo.png"
        alt="Logo"
        class="top-bar__logo-icon"
      />
      <span class="top-bar__logo-text">grocerycoffee</span>
    </a>
    <div class="top-bar-menu">
      <ul class="d-flex gap-30">
        <li>
          <a
            href="/homepage"
            class="d-flex align-items-center gap-06 top-bar-menu__link"
          >
            <span>Departments</span>
            <img
              src="../../../assets/images/other/arrow-down.png"
              alt="Arrow down"
            />
          </a>
        </li>
        <li>
          <a
            href="/homepage"
            class="d-flex align-items-center gap-06 top-bar-menu__link"
          >
            <span>Grocery</span>
            <img
              src="../../../assets/images/other/arrow-down.png"
              alt="Arrow down"
            />
          </a>
        </li>
        <li>
          <a
            href="/homepage"
            class="d-flex align-items-center gap-06 top-bar-menu__link"
          >
            <span> Beauty </span>
            <img
              src="../../../assets/images/other/arrow-down.png"
              alt="Arrow down"
            />
          </a>
        </li>
      </ul>
    </div>
    <div class="top-bar-favourite-card d-flex gap-20 align-items-center">
      <div class="favourite-card__search">
        <img
          src="../../../assets/images/other/Search.png"
          alt="Search"
          class="favourite-card__search-icon"
        />
      </div>
      <div class="favourite-card d-flex gap-20">
        <div class="favourite-card__love d-flex align-items-center gap-10">
          <img
            src="../../../assets/images/other/Heart.png"
            alt="Heart"
            class="favourite-card__icon"
          />
          <span>03</span>
        </div>
        <div class="separate"></div>
        <div class="favourite-card__cart d-flex align-items-center gap-10">
          <img
            src="../../../assets/images/other/Buy.png"
            alt="Cart"
            class="favourite-card__icon"
          />
          <span>$65.42</span>
        </div>
      </div>
      <div class="favourite-card__avatar"></div>
    </div>
  </div>
</div>
