<div class="cart-info">
  <a href="#!">
    <article class="gift-item">
      <div class="gift-item__icon-wrap">
        <img
          src="../../../assets/images/icon/gift.svg"
          alt="Gift"
          class="gift-item__icon"
        />
      </div>
      <div class="gift-item__content">
        <h3 class="gift-item__title">Send this order as a gift.</h3>
        <p class="gift-item__desc">
          Available items will be shipped to your gift recipient.
        </p>
      </div>
    </article>
  </a>
</div>
