@use "../../../assets/styles/css/main.css";
@import url(../../../assets/styles/_style.scss);
@import url(../../../assets/styles/_color.scss);

html {
  scroll-behavior: smooth;
}

.cat-title,
.prd-title-by-cat {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 141.667%;
}

.filter {
  background-color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 0.6rem;
  cursor: pointer;

  &-text {
    font-weight: 700;
    line-height: 142.857%;
    color: #6c6c72;
  }
}
