<div class="cart-info">
  <div class="row gy-3">
    <div class="col-12">
      <h2 class="cart-info__heading">
        <a [routerLink]="['/personal-info']">
          <img
            src="../../../../assets/images/icon/arrow-left.svg"
            alt=""
            class="icon cart-info__back-arrow"
          />
        </a>
        Thông tin cá nhân
      </h2>
      <form class="form form-card" [formGroup]="personForm">
        <!-- Form row 1 -->
        <div class="form__row">
          <div class="form__group">
            <label for="full-name" class="form__label form-card__label">
              Họ và tên
            </label>
            <div class="form__text-input">
              <input
                type="text"
                id="full-name"
                placeholder="Full name"
                formControlName="fullName"
                class="form__input"
                required
                autofocus
              />
              <img
                src="../../../../assets/images/icon/form_error.svg"
                alt=""
                class="form__input-icon-error"
              />
            </div>
            <p class="form__error">Hãy điền họ và tên của bạn</p>
          </div>
          <div class="form__group">
            <label for="email-adress" class="form__label form-card__label">
              Địa chỉ Email
            </label>
            <div class="form__text-input">
              <input
                type="text"
                id="email-adress"
                placeholder="Email address"
                formControlName="username"
                [disabled]="true"
                class="form__input"
                required
              />
              <img
                src="../../../../assets/images/icon/form_error.svg"
                alt=""
                class="form__input-icon-error"
              />
            </div>
            <p class="form__error">Hãy điền địa chỉ email hợp lệ</p>
          </div>
        </div>

        <!-- Form row 2 -->
        <div class="form__row">
          <div class="form__group">
            <label for="phone-number" class="form__label form-card__label">
              Số điện thoại
            </label>
            <div class="form__text-input">
              <input
                type="text"
                id="phone-number"
                placeholder="Số điện thoại"
                formControlName="phoneNumber"
                class="form__input"
                required
              />
              <img
                src="../../../../assets/images/icon/form_error.svg"
                alt=""
                class="form__input-icon-error"
              />
            </div>
            <p class="form__error">Hãy điền số điện thoại hợp lệ</p>
          </div>
          <div class="form__group">
            <label for="passowrd" class="form__label form-card__label">
              Mật khẩu
            </label>
            <div class="form__text-input">
              <input
                type="password"
                id="passowrd"
                placeholder="Mật khẩu"
                formControlName="password"
                class="form__input"
                required
              />
              <img
                src="../../../../assets/images/icon/form_error.svg"
                alt=""
                class="form__input-icon-error"
              />
            </div>
            <p class="form__error">Hãy nhập mật khẩu mới</p>
          </div>
        </div>

        <div class="form__row">
          <div class="form__group">
            <span style="color: red"
              ><span>* Lưu ý:</span> Sau khi thay đổi, bạn sẽ phải đăng nhập
              lại.</span
            >
          </div>
        </div>

        <div class="form-card__bottom">
          <a class="btn btn--text" [routerLink]="['/personal-info']">Hủy</a>
          <button class="btn btn--primary btn--rounded" (click)="submitForm()">
            Lưu
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
