<h2 class="cart-info__heading">Lists</h2>
<p class="cart-info__desc profile__desc">2 items - Primary</p>

<!-- Favourite item 1 -->
<article class="favourite-item">
  <img
    src="../../../assets/images/products/espresso-arabica-and-robusta-beans.png"
    alt=""
    class="favourite-item__thumb"
  />
  <div>
    <h3 class="favourite-item__title">
      Coffee Beans - Espresso Arabica and Robusta Beans
    </h3>
    <div class="favourite-item__content">
      <span class="favourite-item__price">$47.00</span>
      <button class="btn btn--primary btn--rounded">Add to cart</button>
    </div>
  </div>
</article>

<div class="separate" style="--margin: 20px"></div>

<!-- Favourite item 2 -->
<article class="favourite-item">
  <img
    src="../../../assets/images/products/try-the-italian-espresso.png"
    alt=""
    class="favourite-item__thumb"
  />
  <div>
    <h3 class="favourite-item__title">
      Lavazza Coffee Blends - Try the Italian Espresso
    </h3>
    <div class="favourite-item__content">
      <span class="favourite-item__price">$53.00</span>
      <button class="btn btn--primary btn--rounded">Add to cart</button>
    </div>
  </div>
</article>
