<div class="cart-info">
  <div class="cart-info__row">
    <span>Tổng sản phẩm</span>
    <span>{{ subTotalItems }}</span>
  </div>
  <div class="cart-info__row">
    <span>Giá</span>
    <span>{{ price | currency : " " : "symbol" : "1.0-0" }}đ</span>
  </div>
  <div class="cart-info__row">
    <span>Vận chuyển</span>
    <span>Miễn phí</span>
  </div>
  <div class="cart-info__separate"></div>
  <div class="cart-info__row">
    <span>Tổng tiền ước tính</span>
    <span>{{ price | currency : " " : "symbol" : "1.0-0" }}đ</span>
  </div>
  <button
    style="width: 100%"
    class="cart-info__next-btn btn btn--primary btn--rounded"
    [routerLink]="nextPageUrl"
    (click)="checkout()"
  >
    {{ isCheckout ? "Đặt hàng" : "Tiếp tục đặt hàng" }}
  </button>
</div>
