<div class="cart-info">
  <div class="cart-info__row">
    <span>Subtotal <span class="cart-info__sub-label">(items)</span></span>
    <span>3</span>
  </div>
  <div class="cart-info__row">
    <span>Price <span class="cart-info__sub-label">(Total)</span></span>
    <span>$191.65</span>
  </div>
  <div class="cart-info__row">
    <span>Shipping</span>
    <span>$10.00</span>
  </div>
  <div class="cart-info__separate"></div>
  <div class="cart-info__row">
    <span>Estimated Total</span>
    <span>$201.65</span>
  </div>
  <a
    href="./shipping.html"
    class="cart-info__next-btn btn btn--primary btn--rounded"
    [routerLink]="[nextPageUrl]"
  >
    Continue to checkout
  </a>
</div>
