<main class="auth">
  <!-- Auth intro -->
  <div class="auth__intro d-md-none">
    <img
      src="../../../assets/images/auth/forgot-password.png"
      alt="Intro"
      class="auth__intro-img"
    />
  </div>

  <!-- Auth content -->
  <div class="auth__content">
    <div class="auth__content-inner">
      <a href="./" class="logo">
        <img
          src="../../../assets/images/logo/logo.png"
          alt="grocerycoffee"
          class="logo__img"
        />
        <h2 class="logo__title">grocerycoffee</h2>
      </a>
      <h1 class="auth__heading">Tạo mật khẩu mới</h1>
      <p class="auth__desc">Ít nhất 6 kí tự, với số và kí tự thường và hoa.</p>
      <form class="form auth__form auth__form-forgot" [formGroup]="newPassForm">
        <div class="form__group">
          <div class="form__text-input">
            <input
              type="password"
              name=""
              id=""
              placeholder="Mật khẩu mới"
              formControlName="password"
              class="form__input"
              required
              autofocus
              minlength="6"
            />
            <img
              src="../../../assets/images/icon/lock.svg"
              alt=""
              class="form__input-icon"
            />
            <img
              src="../../../assets/images/icon/form_error.svg"
              alt=""
              class="form__input-icon-error"
            />
          </div>
          <p class="form__error">Mật khẩu phải có ít nhất 6 kí tự</p>
        </div>
        <div class="form__group">
          <div class="form__text-input">
            <input
              type="password"
              name=""
              id=""
              placeholder="Confirm new password"
              formControlName="confirmPassword"
              class="form__input"
              required
              minlength="6"
            />
            <img
              src="../../../assets/images/icon/lock.svg"
              alt=""
              class="form__input-icon"
            />
            <img
              src="../../../assets/images/icon/form_error.svg"
              alt=""
              class="form__input-icon-error"
            />
          </div>
          <p class="form__error">Mật khẩu phải có ít nhất 6 kí tự</p>
        </div>
        <div class="form__group auth__btn-group">
          <button
            (click)="submitForm()"
            class="btn btn--primary auth__btn form__submit-btn"
          >
            Đặt lại mật khẩu
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
