<aside class="profile__sidebar">
  <!-- User -->
  <div class="profile-user">
    <img [src]="user?.avatarUrl" alt="avatar" class="profile-user__avatar" />
    <h1 class="profile-user__name">{{ user?.fullName }}</h1>
    <p class="profile-user__desc">
      Đã đăng ký: {{ user?.createdAt | date : "dd/MM/yyyy" }}
    </p>
  </div>

  <!-- Menu 1 -->
  <div class="profile-menu">
    <h3 class="profile-menu__title">Quản lý tài khoản</h3>
    <ul class="profile-menu__list">
      <li>
        <a [routerLink]="['edit-profile']" class="profile-menu__link">
          <span class="profile-menu__icon">
            <img
              src="../../../assets/images/icon/profile.svg"
              alt=""
              class="icon"
            />
          </span>
          Thông tin cá nhân
        </a>
      </li>
    </ul>
  </div>

  <!-- Menu 2 -->
  <div class="profile-menu">
    <h3 class="profile-menu__title">Sản phẩm của tôi</h3>
    <ul class="profile-menu__list">
      <li>
        <a [routerLink]="['order']" class="profile-menu__link">
          <span class="profile-menu__icon">
            <img
              src="../../../assets/images/icon/download.svg"
              alt=""
              class="icon"
            />
          </span>
          Đơn hàng
        </a>
      </li>
    </ul>
  </div>
</aside>
