<nz-table ngSkipHydration #basicTable [nzData]="users">
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Họ và tên</th>
      <th>Tài khoản</th>
      <th>Ngày tạo</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>
        <img
          [src]="data?.avatarUrl || '../../../assets/images/avatar/user.jpg'"
          [alt]="data?.name"
          width="50px"
          height="50px"
          style="border-radius: 999px"
        />
      </td>
      <td style="vertical-align: middle">{{ data?.fullName }}</td>
      <td style="vertical-align: middle">
        {{ data?.username }}
      </td>
      <td style="vertical-align: middle">{{ data?.createdAt | date }}</td>
      <td style="vertical-align: middle">
        {{ data?.role }}
      </td>
    </tr>
  </tbody>
</nz-table>
