<div class="cart-info">
  <h2 class="cart-info__heading cart-info__heading--lv2">2. Shipping method</h2>
  <div class="cart-info__separate"></div>
  <h3 class="cart-info__sub-heading">Availeble Shipping method</h3>

  <!-- Payment item 3 -->
  <label>
    <article class="payment-item payment-item--pointer">
      <img
        src="../../../assets/payment/delivery-1.png"
        alt=""
        class="payment-item__thumb"
      />
      <div class="payment-item__content">
        <div class="payment-item__info">
          <h3 class="payment-item__title">Fedex Delivery</h3>
          <p class="payment-item__desc payment-item__desc--low">
            Delivery: 2-3 days work
          </p>
        </div>

        <span class="cart-info__checkbox payment-item__checkbox">
          <input
            type="radio"
            name="delivery-method"
            checked
            class="cart-info__checkbox-input payment-item__checkbox-input"
          />
          <span class="payment-item__cost">Free</span>
        </span>
      </div>
    </article>
  </label>

  <!-- Payment item 4 -->
  <label>
    <article class="payment-item payment-item--pointer">
      <img
        src="../../../assets/payment/delivery-2.png"
        alt=""
        class="payment-item__thumb"
      />
      <div class="payment-item__content">
        <div class="payment-item__info">
          <h3 class="payment-item__title">DHL Delivery</h3>
          <p class="payment-item__desc payment-item__desc--low">
            Delivery: 2-3 days work
          </p>
        </div>

        <span class="cart-info__checkbox payment-item__checkbox">
          <input
            type="radio"
            name="delivery-method"
            class="cart-info__checkbox-input payment-item__checkbox-input"
          />
          <span class="payment-item__cost">$12.00</span>
        </span>
      </div>
    </article>
  </label>
</div>
