<button nz-button nzType="primary" (click)="showModal()">
  + Thêm danh mục
</button>
<nz-table ngSkipHydration #basicTable [nzData]="categories">
  <thead>
    <tr>
      <th>Hình ảnh</th>
      <th nzCustomFilter>
        Tên
        <nz-filter-trigger
          [(nzVisible)]="visibleSearch"
          [nzActive]="searchValue.length > 0"
          [nzDropdownMenu]="menu"
        >
          <span nz-icon nzType="search"></span>
        </nz-filter-trigger>
      </th>
      <th>Tiêu đề</th>
      <th>Sản phẩm</th>
      <th>Trạng thái</th>
      <th>Chức năng</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>
        <img
          [src]="
            data.avatarUrl || '../../../assets/images/categories/unknown.png'
          "
          [alt]="data.name"
          width="70px"
        />
      </td>
      <td style="vertical-align: middle">{{ data.name }}</td>
      <td style="vertical-align: middle">{{ data.title }}</td>
      <td style="vertical-align: middle">
        {{ data.product?.length > 0 ? data.product.length : "Trống" }}
      </td>
      <td style="vertical-align: middle">
        <app-switch
          (click)="toggleActive(data)"
          [switchValue]="data.status"
        ></app-switch>
      </td>
      <td style="vertical-align: middle">
        <a>
          <button nz-button nzType="default" (click)="patchValue(data)">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
            Sửa
          </button>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>
          <button
            nz-button
            nzType="primary"
            nzDanger
            nz-popconfirm
            nzPopconfirmTitle="Bạn chắc chứ?"
            nzOkText="xác nhận"
            nzCancelText="hủy"
            (nzOnConfirm)="delete(data._id)"
          >
            <span nz-icon nzType="delete" nzTheme="outline"></span>
          </button>
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalTitle>{{
    isEdit ? "Chỉnh sửa danh mục" : "Thêm danh mục"
  }}</ng-template>

  <ng-template #modalContent>
    <form nz-form [formGroup]="categoryForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Tên danh mục</nz-form-label>
        <nz-form-control [nzSpan]="12" [nzErrorTip]="userErrorTpl">
          <input
            nz-input
            formControlName="catName"
            placeholder="Nhập tên danh mục"
          />
          <ng-template #userErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')"
              >Hãy nhập tên danh mục!</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Tiêu đề</nz-form-label>
        <nz-form-control [nzSpan]="12" [nzErrorTip]="userErrorTpl2">
          <input nz-input formControlName="title" placeholder="Nhập tiêu đề" />
          <ng-template #userErrorTpl2 let-control>
            <ng-container *ngIf="control.hasError('required')"
              >Hãy nhập tiêu đề!</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>File</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <div class="clearfix">
            <nz-upload (nzChange)="OnChange($event)" nzListType="picture">
              <button nz-button>
                <span nz-icon nzType="upload"></span>
                Upload
              </button>
            </nz-upload>
          </div>
        </nz-form-control>
      </nz-form-item> -->
    </form>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
    <button
      nz-button
      nzType="primary"
      (click)="handleOk()"
      [nzLoading]="isConfirmLoading"
      [disabled]="!categoryForm.valid"
    >
      {{ isEdit ? "Cập nhật" : "Xác nhận" }}
    </button>
  </ng-template>
</nz-modal>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="Tìm tên"
        [(ngModel)]="searchValue"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="search()"
        class="search-button"
      >
        Tìm kiếm
      </button>
      <button nz-button nzSize="small" (click)="reset()">Đặt lại</button>
    </div>
  </div>
</nz-dropdown-menu>
