<!-- MAIN -->
<main class="checkout-page">
  <div class="container">
    <!-- Search bar -->
    <div class="checkout-container">
      <div class="search-bar d-none d-md-flex">
        <input
          type="text"
          name=""
          id=""
          placeholder="Search for item"
          class="search-bar__input"
        />
        <button class="search-bar__submit">
          <img
            src="../../../assets/images/other/Search.png"
            alt=""
            class="search-bar__icon icon"
          />
        </button>
      </div>
    </div>

    <!-- Breadcrumbs -->
    <div class="checkout-container">
      <ul class="breadcrumbs checkout-page__breadcrumbs">
        <li>
          <a href="./" class="breadcrumbs__link">
            Home
            <img src="../../../assets/images/icon/arrow-right.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="#!" class="breadcrumbs__link breadcrumbs__link--current"
            >Checkout</a
          >
        </li>
      </ul>
    </div>

    <!-- Checkout content -->
    <div class="checkout-container">
      <div class="row gy-xl-3">
        <div class="col-8 col-xl-12">
          <div class="cart-info">
            <div class="cart-info__list">
              <app-checkout-cart-item></app-checkout-cart-item>
              <app-checkout-cart-item></app-checkout-cart-item>
              <app-checkout-cart-item></app-checkout-cart-item>
            </div>
            <div class="cart-info__bottom d-md-none">
              <div class="row">
                <div class="col-8 col-xxl-7">
                  <div class="cart-info__continue">
                    <a href="./" class="cart-info__continue-link">
                      <img
                        class="cart-info__continue-icon icon"
                        src="../../../assets/images/icon/arrow-down.svg"
                        alt=""
                      />
                      Continue Shopping
                    </a>
                  </div>
                </div>
                <div class="col-4 col-xxl-5">
                  <div class="cart-info__row">
                    <span>Subtotal:</span>
                    <span>$191.65</span>
                  </div>
                  <div class="cart-info__row">
                    <span>Shipping:</span>
                    <span>$10.00</span>
                  </div>
                  <div class="cart-info__separate"></div>
                  <div class="cart-info__row cart-info__row--bold">
                    <span>Total:</span>
                    <span>$201.65</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 col-xl-12">
          <div class="d-flex flex-direction-column gap-20">
            <app-checkout-block
              [nextPageUrl]="'/shipping'"
            ></app-checkout-block>
            <app-gift></app-gift>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
