<h2 class="cart-info__heading">Thông tin tài khoản</h2>
<p class="cart-info__desc profile__desc">
  Địa chỉ, thông tin liên hệ và mật khẩu
</p>
<div class="row gy-md-2 row-cols-2 row-cols-lg-1">
  <!-- Account info 1 -->
  <div class="col">
    <a [routerLink]="['/personal-info/edit-profile']">
      <article class="account-info">
        <div class="account-info__icon">
          <img
            src="../../../assets/images/icon/message.svg"
            alt=""
            class="icon"
          />
        </div>
        <div>
          <h3 class="account-info__title">Địa chỉ Email</h3>
          <p class="account-info__desc">{{ user?.username }}</p>
        </div>
      </article>
    </a>
  </div>

  <!-- Account info 2 -->
  <div class="col">
    <a [routerLink]="['/personal-info/edit-profile']">
      <article class="account-info">
        <div class="account-info__icon">
          <img
            src="../../../assets/images/icon/calling.svg"
            alt=""
            class="icon"
          />
        </div>
        <div>
          <h3 class="account-info__title">Số điện thoại</h3>
          <p class="account-info__desc">{{ user?.phoneNumber }}</p>
        </div>
      </article>
    </a>
  </div>

  <!-- Account info 3 -->
  <div class="col">
    <a [routerLink]="['/personal-info/edit-profile']">
      <article class="account-info">
        <div class="account-info__icon">
          <img
            src="../../../assets/images/icon/location.svg"
            alt=""
            class="icon"
          />
        </div>
        <div>
          <h3 class="account-info__title">Role</h3>
          <p class="account-info__desc">
            {{ user?.role }}
          </p>
        </div>
      </article>
    </a>
  </div>
</div>
