<h2 class="cart-info__heading">Account info</h2>
<p class="cart-info__desc profile__desc">
  Addresses, contact information and password
</p>
<div class="row gy-md-2 row-cols-2 row-cols-lg-1">
  <!-- Account info 1 -->
  <div class="col">
    <a [routerLink]="['/personal-info/edit-profile']">
      <article class="account-info">
        <div class="account-info__icon">
          <img
            src="../../../assets/images/icon/message.svg"
            alt=""
            class="icon"
          />
        </div>
        <div>
          <h3 class="account-info__title">Email Address</h3>
          <p class="account-info__desc">tarek97.ta&#64;gmail.com</p>
        </div>
      </article>
    </a>
  </div>

  <!-- Account info 2 -->
  <div class="col">
    <a [routerLink]="['/personal-info/edit-profile']">
      <article class="account-info">
        <div class="account-info__icon">
          <img
            src="../../../assets/images/icon/calling.svg"
            alt=""
            class="icon"
          />
        </div>
        <div>
          <h3 class="account-info__title">Phone number</h3>
          <p class="account-info__desc">+000 11122 2345 657</p>
        </div>
      </article>
    </a>
  </div>

  <!-- Account info 3 -->
  <div class="col">
    <a [routerLink]="['/personal-info/edit-profile']">
      <article class="account-info">
        <div class="account-info__icon">
          <img
            src="../../../assets/images/icon/location.svg"
            alt=""
            class="icon"
          />
        </div>
        <div>
          <h3 class="account-info__title">Add an address</h3>
          <p class="account-info__desc">
            Bangladesh Embassy, Washington, DC 20008
          </p>
        </div>
      </article>
    </a>
  </div>
</div>
